$primary-color: #4a86e8;
$secondary-color: #151515;

$heading1_size: 72rem;
$heading2_size: 48rem;
$heading3_size: 32rem;
$heading4_size: 22rem;
$heading5_size: 20rem;
$heading6_size: 52rem;

$primary-font-family: "Lato", sans-serif;
$secondary-font-family: "Roboto", sans-serif;
